# Admin API URL (website fetches blogs from admin API)
ADMIN_API_URL="http://localhost:3001"

# MongoDB (website contact form submissions)
MONGODB_URI=""


EMAIL_HOST=""

EMAIL_USER=""

EMAIL_PASS=""

OWNER_EMAIL=""

